@import "project/inc";

body {
  width: 900px;
  margin: 0 auto;
  background-color: black;
  //color: white;
}
.main {
  color: white;

  div {
    background: red;
  }
  p {
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    opacity: 0.5;
  }
}
.teste {
  color: white;
}
section {
  color: blue;
}
.jumbotron {
  color: white;
}
