@import "bourbon";
@import "project/inc";

body {
  width: 900px;
  margin: 0 auto;
  //background-color: black;
  //color: white;
}
.main {
  color: red;

  div {
    background: red;
  }
  p {
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    opacity: 0.5;
  }
}
.teste {
  color: white;
  @include linear-gradient(to top, red, orange);
}
section {
  color: blue;
  font-size: golden-ratio(14px,  1);
}
.jumbotron {
  color: white;
}
