@import "bourbon";
@import "project/inc";

.main {
  color: red;

  div {
    background: yellow;
  }
  p {
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    opacity: 0.5;
  }
}
.teste {
  color: white;
  @include linear-gradient(to top, red, orange);
}
section {
  color: blue;
  font-size: golden-ratio(14px,  1);
}
